Sort by :
<span class="action sortby creation">creation time</span>
| <span class="action sortby update">update time</span>
| <span class="action sortby title">title</span>
| <input type="radio"
         name="sortdirection"
         class="sortby asc"
         value="asc"
         selected="selected"/>&nbsp;ascending
<input type="radio"
         name="sortdirection"
         class="sortby asc"
         value="desc"/>&nbsp;descending

<script type="text/javascript">

$(function(){
  var items = $('ul.topic.list li');
  $('span.action.sortby').click(function(){$S.sortTopicList(this,items);});
});
</script>
