<h1 class="toc">Topics Page</h1>

<h2 class="toc">All topics</h2>
<div class="toc all">
<%= render :partial => 'index_sort' %>
<%= render :partial => 'topics_ul', :locals => {:topics => @topics} %>
</div>

<% if enabled_user -%>
<h2 class="toc" id="new">New topic</h2>
<div class="toc new closed">
<%= render :partial => 'new_form', :locals => {:topic => Topic.new} %>
</div>
<% end -%>

