body{
    background-color: #EEE;
}

#user_nav{
    float:right;
    font-size:90%;
}

#content_nav{
    float:left;
    font-size:90%;
}

#main{
    background-color: #FFF;
    border:1px solid gray;
    margin:10px;
    padding:10px;
}

#flash_notice{
    background-color: #383;
    font-size:110%;
    color:white;
    border:1px solid green;
    margin:2px;
    padding:2px;
}

#flash_error{
    background-color: #833;
    font-size:110%;
    color:white;
    border:1px solid red;
    margin:2px;
    padding:2px;
}

ul.list{
    max-width:600px;
}

ul.list div.actions{
    display:inline;
    font-size:80%;
}
ul.list div.title{
    padding:0 5px;
    display:inline;
    font-weight:bold;
}
ul.list span.shortname{
    display: inline-block;
    width: 10em;
}

div.comment{
    padding:3px;
    margin-left:2em;
    border:1px dotted gray;
}

span.toggle.form{
    text-decoration:underline;
    cursor:pointer;
}

div.fallacy_topic{
    border:1px dotted #AAA;
    font-size:90%;
    margin-left:2em;
    padding:0.5em;
}