<div>

<h2>Presentation</h2>

This is the site of the College of Stoic Philosophers' Fallacies Club.

<h2>Our president</h2>

A word from our president :

<blockquote>
  A word.
</blockquote>


</div>
