<h1 class="toc">About Page</h1>

<h2 class="toc" id="presentation">Presentation</h2>
<div class="toc presentation">
This is the site of the College of Stoic Philosophers' Fallacies Club.
</div>

<h2 class="toc" id="president">Our president</h2>
<div class="toc president">
A word from our president :
<blockquote>
  A word.
</blockquote>
</div>
