<h1 class="toc">Help Page</h1>

<h2 class="toc" id="general">Generalities</h2>
<div class="toc general">
<p>Find here some help about this site.</p>
</div>

<h2 class="toc" id="faq">FAQ</h2>
<div class="toc faq closed">
<p>Find here some frequent questions about this site.</p>
</div>

<h2 class="toc" id="links">Links</h2>
<div class="toc links closed">
<p>Find here some links that concern fallacies and reasoning.</p>

<ul>
  <li><a href="http://en.wikipedia.org/wiki/List_of_fallacies">Wikipedia list</a>,</li>
  <li><a href="http://www.unc.edu/depts/wcweb/handouts/fallacies.html">Univ. North Carolina</a>,</li>
  <li><a href="http://owl.english.purdue.edu/owl/resource/659/03">Purdue University</a></li>
  <li><a href="http://www.theskepticsguide.org/resources/logicalfallacies.aspx">Skeptics Guide to the Universe</a>,</li>
  <li><a href="http://leo.stcloudstate.edu/acadwrite/logic.html">St. Cloud State</a></li>
</ul>

</div>


