<h1 class="toc">Help Page</h1>

<h2 class="toc" id="general">Generalities</h2>
<div class="toc general">
<p>Find here some help about this site.</p>
</div>

<h2 class="toc" id="faq">FAQ</h2>
<div class="toc faq closed">
<p>Find here some frequent questions about this site.</p>
</div>

<h2 class="toc" id="links">Links</h2>
<div class="toc links closed">
<p>Find here some links that concern fallacies and resaoning.</p>
</div>


