<h1 class="toc">Help Page</h1>

<h2 class="toc" id="links">Links</h2>
<div class="toc links">
<ul>
  <li><span class="title"><a href="http://en.wikipedia.org/wiki/List_of_fallacies">Wikipedia list</a></span></li>
  <li><span class="title"><a href="http://www.unc.edu/depts/wcweb/handouts/fallacies.html">Univ. North Carolina</a></span></li>
  <li><span class="title"><a href="http://owl.english.purdue.edu/owl/resource/659/03">Purdue University</a></span></li>
  <li><span class="title"><a href="http://www.theskepticsguide.org/resources/logicalfallacies.aspx">Skeptics Guide to the Universe</a></span></li>
  <li><span class="title"><a href="http://leo.stcloudstate.edu/acadwrite/logic.html">St. Cloud State</a></span></li>
</ul>
</div>

<h2 class="toc" id="faq">FAQ</h2>
<div class="toc faq">

<h3 class="toc">What is this site about ?</h3>
<div class="toc closed">
We are a group of people interested in sharpening our understanding of
other people's argumentations, and in being able to determine which flaws
they may contain. This site is there to allow us to examine texts and
discuss which can of logical flaws we can find in them.
</div>

<h3 class="toc">What is a fallacy ?</h3>
<div class="toc closed">
Generally speaking, a fallacy is any kind of false reasoning. Here we
try to distinguish different kinds of argumentative fallacies, and you
can find <%= link_to 'here', fallacies_url %> the list of fallacies we
have already described. Fallacies are opened to discussion, and have a
forum attached to them.
</div>

<h3 class="toc">What is a topic ?</h3>
<div class="toc closed">
A topic, on this site, refers to a subject of study, in which we try
to find fallacies. <%= link_to 'Here', topics_url %> is the list of
currently opened topics. Topics are opened to discussion, and have a
forum attached to them.
</div>

<h3 class="toc">What is a flag ?</h3>
<div class="toc closed">
Once we have found a fallacy in a topic, we can flag the topic with
the given fallacy, by giving an explanation telling why we think such
text contains this fallacy. Flags are opened to discussion, and have a
forum attached to them.
</div>

<h3 class="toc">What is a tag ?</h3>
<div class="toc closed">
Topics can be tagged with keywords, so that we can create a minimal
architecture of the global subjects they talk about. A list of all the
tags already used can be found <%= link_to 'there', tags_url %>.
</div>

<h3 class="toc">How can I join ?</h3>
<div class="toc closed">
This site is currently opened in a read only fashion to the whole wild
world, although it can only be edited by people who have been enabled
by an administrator.
<br/>
The first way you can join us is by joining the
<a href="http://sites.google.com/site/thecollegeofstoicphilosophers/Home">
College of Stoic Philosophers</a>. Members of the College will have no
problem being admitted as members of this club.
<br/> However, if you are not sure whether you want to join the
College but are still interested in discussing about fallacies, you can
<%= link_to "sign up", signup_path %>
to the site and send us an email at
<a href="mailto:webmaster@nofallacy.net">this address</a>
with your motivation, and we may enable your account.
</div>

<h3 class="toc">I registered and logged in but still can't do anything on the site. Why ?</h3>
<div class="toc closed">
Registration only is not enough to be able to modify content or post
comments on the site. Your account has to be activated by an
administrator before your can
edit on the site. If you are a member of the College of Stoic
Philosophers, and your registration takes more than a week to be
accepted, send an email
to <a href="mailto:webmaster@nofallacy.net">this address</a>.
</div>

<p>If you did not find the question you wanted to ask, please email
  it at <a href="mailto:webmaster@nofallacy.net">this address</a>.</p>
</div>


