<div class="top title">
<h2>TAG PAGE
</h2>
<h1>&#151;&nbsp;<%= @tag.name %>&nbsp;&#151</h1>
</div>

<h2 class="toc">Topic list</h2>
<div class="toc">
<%- if @tag.count > 0 -%>

<%= render :partial => 'topics/index_sort' %>
<%= render :partial => 'topics/topics_ul', :locals =>{:topics => @topics} %>

<%- else -%>

This tag has no topic attached.

<%- end -%>
</div>
