<div id="header" class="header">
<h4>
<a href="http://sites.google.com/site/thecollegeofstoicphilosophers/Home">
College of Stoic Philosophers'
</a>
</h4>
<h2>LOGICAL FALLACIES CLUB</h2>
<p><i>with</i></p>
<p><i>John B. B<small>ROWN</small>, MD, Club President</i></p>
</div>
