<div id="header" class="header">
<h2>LOGICAL FALLACIES CLUB</h2>
<h4>
<a href="http://sites.google.com/site/thecollegeofstoicphilosophers/Home">
College of Stoic Philosophers
</a>
</h4>
<p>&amp;</p>
<p>John Brown, President</p>
</div>
